<h1>Products</h1>

<ul>
  <%- @products.each do |item| %>
    <li><%= item.name %> - <%= number_to_currency(item.cost) %></li>
    <li><%= button_to 'Add To Cart', carts_path(item_id: item.id) %></li>
  <% end %>
</ul>

